body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#canvas {
    border: 2px solid rgb(246, 129, 12); /* Add a border for visualization */
}

.image {
    position: absolute;
    left: 0%;
    top: 0%;
}